<ion-header>
    <ion-toolbar>
        <ion-icon name="restaurant-outline" start></ion-icon>
        <ion-title position="floating">Menú</ion-title>
        <ion-icon name="restaurant-outline" slot="end"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>

    <br/>
    <ion-button fill="solid" expand="block" color="dark" routerLink="/listarecetas">Recetas</ion-button>
    <br/>
    <ion-button fill="solid" expand="block" color="dark" routerLink="/creacion">Subir Receta</ion-button>
    <br/>
    <ion-button fill="solid" expand="block" color="dark" routerLink="/borrar">Borrado</ion-button>
    <br/>
    <ion-button fill="solid" expand="block" color="dark" routerLink="/login">Salir</ion-button>

</ion-content>